.header{
    display: flex;
    color: whitesmoke;
    background-color: black;
    justify-content: space-between;
    -webkit-box-shadow: 1px 17px 10px -3px #E3E3E3; 
    box-shadow: 1px 17px 7px -3px #E3E3E3;
    
}
.icon-section{
    padding: 1rem ;
}
.main-section{
    background-color: #545252;
    color: whitesmoke;
}