.NavBarContainer{
    list-style: none;
    display: flex;
    width: 100%;
    padding: 1%;
    margin: 2%;
    justify-content: space-evenly;
    z-index: 2;
    position: absolute;
    top: 0px;
    
    
}

.NavBarContainer li{
    padding: 1%;
    cursor: pointer;
    color: gray;
}